@model IEnumerable<TreeViewCategory>

    <ul>
        @foreach (var item in Model)
        {
            <li>
                <input type="checkbox" /> @item.CategoryName
                @await Html.PartialAsync("_subCategories",item.SubCategories)
                
            </li>
            
        }

    </ul>