@model IEnumerable<TreeViewCategory>

    <ul>
        @foreach (var item in Model)
        {
            <li>
                <input type="checkbox" /> @item.title
                @await Html.PartialAsync("_subCategories",item.subs)
                
            </li>
            
        }

    </ul>